In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Odweyne,SO,2022-01-30 03:34:03,9.4092,45.0640,58.87,34,11,5.23
1,1,Ostrovnoy,RU,2022-01-30 03:34:04,68.0531,39.5131,18.61,92,100,9.60
2,2,Port Blair,IN,2022-01-30 03:34:05,11.6667,92.7500,80.64,74,75,4.61
3,3,Palmares Do Sul,BR,2022-01-30 03:34:05,-30.2578,-50.5097,67.59,75,2,6.98
4,4,Strezhevoy,RU,2022-01-30 03:34:05,60.7333,77.5889,3.18,96,100,6.67

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Port Blair,IN,2022-01-30 03:34:05,11.6667,92.7500,80.64,74,75,4.61
14,14,Gisborne,NZ,2022-01-30 03:30:02,-38.6533,178.0042,76.95,67,4,6.42
16,16,Warrnambool,AU,2022-01-30 03:34:10,-38.3833,142.4833,77.81,81,98,11.92
18,18,Touros,BR,2022-01-30 03:34:11,-5.1989,-35.4608,76.10,83,83,9.37
19,19,Quatre Cocos,MU,2022-01-30 03:34:11,-20.2078,57.7625,83.08,71,98,14.67
20,20,Sibu,MY,2022-01-30 03:34:12,2.3000,111.8167,84.51,79,40,1.99
23,23,Tiarei,PF,2022-01-30 03:34:12,-17.5333,-149.3333,80.62,74,76,7.40
24,24,Busselton,AU,2022-01-30 03:32:29,-33.6500,115.3333,83.05,45,4,12.55
25,25,Rikitea,PF,2022-01-30 03:32:33,-23.1203,-134.9692,76.84,68,100,6.80
27,27,Olutanga,PH,2022-01-30 03:34:14,7.3106,122.8464,81.90,71,61,2.89

In [12]:
preferred_cities_df.count()

City_ID       137
City          137
Country       137
Date          137
Lat           137
Lng           137
Max Temp      137
Humidity      137
Cloudiness    137
Wind Speed    137
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
2     Port Blair      IN     80.64  11.6667   92.7500
14      Gisborne      NZ     76.95 -38.6533  178.0042
16   Warrnambool      AU     77.81 -38.3833  142.4833
18        Touros      BR     76.10  -5.1989  -35.4608
19  Quatre Cocos      MU     83.08 -20.2078   57.7625
20          Sibu      MY     84.51   2.3000  111.8167
23        Tiarei      PF     80.62 -17.5333 -149.3333
24     Busselton      AU     83.05 -33.6500  115.3333
25       Rikitea      PF     76.84 -23.1203 -134.9692
27      Olutanga      PH     81.90   7.3106  122.8464

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
     hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
     print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Port Blair,IN,80.64,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
14,Gisborne,NZ,76.95,-38.6533,178.0042,ASURE Alfresco Motor Lodge
16,Warrnambool,AU,77.81,-38.3833,142.4833,Lady Bay Resort
18,Touros,BR,76.10,-5.1989,-35.4608,INN NEW HORIZON
19,Quatre Cocos,MU,83.08,-20.2078,57.7625,Sunrise Attitude Hotel
20,Sibu,MY,84.51,2.3000,111.8167,RH HOTEL (4 Star)
23,Tiarei,PF,80.62,-17.5333,-149.3333,Le Rocher de Tahiti
24,Busselton,AU,83.05,-33.6500,115.3333,Observatory Guest House
25,Rikitea,PF,76.84,-23.1203,-134.9692,People ThankYou
27,Olutanga,PH,81.90,7.3106,122.8464,Morales Lodge

In [16]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [19]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))