## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
import sys
sys.path.append("..")
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Saint George,US,37.1041,-113.5841,40.24,31,0,1.01,clear sky
1,1,Codrington,AU,-38.2667,141.9667,67.28,59,77,14.92,broken clouds
2,2,Rikitea,PF,-23.1203,-134.9692,78.08,74,100,18.41,overcast clouds
3,3,Albany,US,42.6001,-73.9662,38.19,91,100,1.99,snow
4,4,Vila Velha,BR,-20.3297,-40.2925,75.15,95,40,6.91,light rain

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Rikitea,PF,-23.1203,-134.9692,78.08,74,100,18.41,overcast clouds
4,4,Vila Velha,BR,-20.3297,-40.2925,75.15,95,40,6.91,light rain
12,12,Kandrian,PG,-6.2167,149.5500,88.68,59,75,17.74,broken clouds
13,13,Port Shepstone,ZA,-30.7414,30.4550,75.54,85,100,16.13,light rain
16,16,Arraial Do Cabo,BR,-22.9661,-42.0278,75.38,91,100,9.24,overcast clouds
20,20,Esperance,AU,-33.8667,121.9000,79.16,46,2,9.04,clear sky
23,23,Kapaa,US,22.0752,-159.3190,76.12,66,0,1.01,clear sky
27,27,Vaini,TO,-21.2000,-175.2000,86.16,79,75,10.36,broken clouds
29,29,Cidreira,BR,-30.1811,-50.2056,75.70,89,84,22.15,broken clouds
38,38,Bambous Virieux,MU,-20.3428,57.7575,80.85,94,75,20.71,light rain

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

Unnamed: 0             0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Rikitea,PF,-23.1203,-134.9692,78.08,74,100,18.41,overcast clouds
4,4,Vila Velha,BR,-20.3297,-40.2925,75.15,95,40,6.91,light rain
12,12,Kandrian,PG,-6.2167,149.5500,88.68,59,75,17.74,broken clouds
13,13,Port Shepstone,ZA,-30.7414,30.4550,75.54,85,100,16.13,light rain
16,16,Arraial Do Cabo,BR,-22.9661,-42.0278,75.38,91,100,9.24,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
543,543,Saint-Pierre,RE,-21.3393,55.4781,80.24,84,100,20.04,light rain
553,553,Nieuw Amsterdam,SR,5.8833,-55.0833,76.01,93,85,9.33,overcast clouds
559,559,Ballina,AU,-28.8667,153.5667,77.18,80,75,16.11,light rain
570,570,Mitsamiouli,KM,-11.3847,43.2844,82.33,77,100,11.74,overcast clouds
573,573,Manavalakurichi,IN,8.1333,77.3000,82.49,67,13,4.03,few clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Rikitea,PF,78.08,overcast clouds,-23.1203,-134.9692,
4,Vila Velha,BR,75.15,light rain,-20.3297,-40.2925,
12,Kandrian,PG,88.68,broken clouds,-6.2167,149.5500,
13,Port Shepstone,ZA,75.54,light rain,-30.7414,30.4550,
16,Arraial Do Cabo,BR,75.38,overcast clouds,-22.9661,-42.0278,
20,Esperance,AU,79.16,clear sky,-33.8667,121.9000,
23,Kapaa,US,76.12,clear sky,22.0752,-159.3190,
27,Vaini,TO,86.16,broken clouds,-21.2000,-175.2000,
29,Cidreira,BR,75.70,broken clouds,-30.1811,-50.2056,
38,Bambous Virieux,MU,80.85,light rain,-20.3428,57.7575,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
     hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
     print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Rikitea,PF,78.08,overcast clouds,-23.1203,-134.9692,People ThankYou
4,Vila Velha,BR,75.15,light rain,-20.3297,-40.2925,Hotel Vitória Palace
12,Kandrian,PG,88.68,broken clouds,-6.2167,149.5500,Kandrian Station
13,Port Shepstone,ZA,75.54,light rain,-30.7414,30.4550,My Den Beachfront Bed and Breakfast | Self-Cat...
16,Arraial Do Cabo,BR,75.38,overcast clouds,-22.9661,-42.0278,Pousada Porto Praia
20,Esperance,AU,79.16,clear sky,-33.8667,121.9000,Hospitality Esperance
23,Kapaa,US,76.12,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
27,Vaini,TO,86.16,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
29,Cidreira,BR,75.70,broken clouds,-30.1811,-50.2056,Hotel Castelo
38,Bambous Virieux,MU,80.85,light rain,-20.3428,57.7575,Casa Tia Villa

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [13]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))